#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: #e9e1e1;
}
.p {
  color: white;
}
h2 {
  color: white;
  background: rgb(96, 96, 233);
  border: 2px solid white;
  border-radius: 20%;
}

.button {
  border: 2px solid rgb(96, 96, 233);
}
.card-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}
.card {
  position: relative;
}
.card img {
  width: 100%;
  display: block;
  border: 3px solid rgb(96, 96, 233);
  border-radius: 10%;
}

.card .front {
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
  position: absolute;
}
.flipped .front {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}
.card .back {
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
}
.flipped .back {
  transform: rotateY(90deg);
  transition-delay: 0.2s;
}

.turns {
  color: black;
  font-size: large;
  font-weight: 700;
  background: white;
  border: 2px solid rgb(96, 96, 233);
}
